<h2 class="mb-4">All stored forms</h2>
<% @form.each do |form| %>
  <div class="card card-body alert-light mb-3">
    <h3><%= form.surname %></h3>
    <p><%= form.school %></p>
    <p><%= form.grade %></p>
    <p><%= form.place %></p>
    <%= link_to "Read more", form_path(form), :class => "btn btn-info" %>
  </div>
<% end %>
