<h2><%= t('headers.Add_form') %></h2>
<%= form_for :form, url: forms_path do |f| %>
  <% if @form.errors.any? %>
    <% @form.errors.full_messages.each do |e| %>
      <div class="alert alert-danger">
        <%= e %>
      </div>
    <% end %>
  <% end %>

  <p>
    <%= t('activerecord.attributes.form.surname') %><br>
   <%= f.text_field(:surname, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= t('activerecord.attributes.form.school') %><br>
    <%= f.number_field(:school, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= t('activerecord.attributes.form.grade') %><br>
    <%= f.number_field(:grade, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= t('activerecord.attributes.form.place') %><br>
    <%= f.number_field(:place, {:class => 'form-control'}) %>
  </p>

  <p>
    <%= f.submit(t('buttons.Save_form'), {:class => 'btn btn-success'}) %>
  </p>
<% end %>
